# Visual Studio
.vs/
Debug/
Release/
x64/
bin/
obj/
ipch/

# Build artifacts
*.exe
*.dll
*.pdb
*.obj
*.idb
*.ipch
*.pch
*.cache
*.log
*.tlog

# User settings
*.user
*.suo
*.userosscache
*.sln.docstates

# Others
*.db
*.opendb
